<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <div class="row">
        <div class="col-xl-4">
           <h4>Milk Management System</h4>
        </div>
       <div  class="container-fluid col-xl-7">
           <ul>
               <li><a  routerLink="/navbar/home">Home</a></li>
               <li><a  routerLink="/navbar/admin">Admin</a></li>
               <li><a  routerLink="/navbar/suppiler">Suppiler</a></li>
               <li><a  routerLink="/navbar/user">User</a></li>
               <li><a  routerLink="/navbar/about">Aboutus</a>
            </li>
            </ul>
        </div>  
   </div>
      
</body>
</html>
<router-outlet></router-outlet>