<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 </head>
 <body>
    <div class="container-fluid" >
   <owl-carousel-o [options]="customOptions">  
     <ng-template carouselSlide><img src="../../../assets/cow1.jpg " > </ng-template>  
     <ng-template carouselSlide><img src="../../../assets/cow2.jfif"></ng-template> 
     <ng-template carouselSlide><img src="../../../assets/coll.jfif"></ng-template>
     <ng-template carouselSlide><img src="../../../assets/man.jfif"></ng-template>     
   </owl-carousel-o>
    </div>
   
 </body>
 </html>   